* {
    box-sizing: border-box;
}

body {
    color: #000000;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    background-color: #f7f7f7;
}


.container {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startStream:hover {
    background-color: green;
    /* transform: scale(1.10); */
}

#startStream:active {
    transform: scale(0.98);
  }